html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

caption {
    font-size: larger;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.808);
    background: rgb(239, 242, 247);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(239, 242, 247);
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 1%;
}

thead th:nth-child(4) {
    width: 1%;
}

thead th:nth-child(5) {
    width: 15%;
}

th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

thead {
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #eeeeeed7;
    color: black;
}

table {
    background-color: rgb(61, 145, 255);
}
