table {
    border-collapse: collapse;
    border: 2px solid rgb(239, 242, 247);
}
thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 12%;
}

thead th:nth-child(5) {
    width: 1%;
}

thead th:nth-child(6) {
    width: 5%;
}

th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

thead {
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #eeeeeed7;
    color: black;
}

table {
    margin-top: 20px;
    background-color: rgb(61, 145, 255);
}

.planilla-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(61, 145, 255, 0.267);
    border: 1px solid white;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.buttonsGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: #00ff995e;
    border: 1px solid white;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.buttonsRed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffa1c78c;
    border: 1px solid white;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.buttons:hover {
    background-color: rgba(11, 117, 255, 0.74);
    color: #fff;
    transition: 0.5s;
}

.buttons:focus {
    border: 1px solid #000;
}

.hora__container {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(206, 206, 206);
    font-size: 1.1rem;
    color: black;
    padding: 10px 0;
    background: transparent;
    transition: border-color 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.hora button {
    padding: 71px;
}
